.blob-c {
    min-height: 100vh;
    overflow: hidden;
    position: absolute;
    width: 100%;
    filter: blur(40px);
}

.shape-blob {
    background: #26C3F9;
    height: 60px;
    width: 80px;
    border-radius: 40% 50% 30% 40%;
    animation:
        transform 18s ease-in-out infinite both alternate,
        movement_one 12s ease-in-out infinite both;
    opacity: .7;
    position: absolute;
    left: calc(100% * var(--left));
    top: calc(100% * var(--top));
}

.shape-blob.one {
    background: #0085FF;
    height: 150px;
    width: 200px;
    transform: rotate(-180deg);
    animation: transform 8s ease-in-out infinite both alternate, movement_two 20s ease-in-out infinite both;
    --left: 0;
    --top: 0;
}

.shape-blob.two {
    background: #4EAEFF;
    height: 150px;
    width: 150px;
    transform: rotate(-180deg);
    animation: transform 10s ease-in-out infinite both alternate, movement_two 10s ease-in-out infinite both;
    --left: 0.2;
    --top: 0.2;
}

.shape-blob.three {
    background: #0EAFFF;
    height: 150px;
    width: 150px;
    transform: rotate(-180deg);
    animation: transform 7s ease-in-out infinite both alternate, movement_two 23s ease-in-out infinite both;
    --left: 0.4;
    --top: 0;
}

.shape-blob.four {
    background: #4EAEFF;
    height: 100px;
    width: 80px;
    transform: rotate(-180deg);
    animation: transform 17s ease-in-out infinite both alternate, movement_two 13s ease-in-out infinite both;
    --left: 0.6;
    --top: 0.4;
}

.shape-blob.five {
    background: #0085FF;
    height: 100px;
    width: 80px;
    transform: rotate(-180deg);
    animation: transform 12s ease-in-out infinite both alternate, movement_two 18s ease-in-out infinite both;
    --left: 0.8;
    --top: 0.2;
}

.shape-blob.six {
    background: #0EAFFF;
    height: 70px;
    width: 100px;
    transform: rotate(-180deg);
    animation: transform 5s ease-in-out infinite both alternate, movement_two 7s ease-in-out infinite both;
    --left: 0.8;
    --top: 0.6;
}

.shape-blob.seven {
    background: #0085FF;
    height: 60px;
    width: 80px;
    transform: rotate(-180deg);
    animation: transform 18s ease-in-out infinite both alternate, movement_two 12s ease-in-out infinite both;
    --left: 0.6;
    --top: 0.8;
}

.shape-blob.eight {
    background: #4EAEFF;
    height: 100px;
    width: 80px;
    transform: rotate(-180deg);
    animation: transform 15s ease-in-out infinite both alternate, movement_two 10s ease-in-out infinite both;
    --left: 0.4;
    --top: 0.6;
}

.shape-blob.nine {
    background: #0EAFFF;
    height: 150px;
    width: 150px;
    transform: rotate(-180deg);
    animation: transform 9s ease-in-out infinite both alternate, movement_two 15s ease-in-out infinite both;
    --left: 0.1;
    --top: 0.6;
}

.shape-blob.ten {
    background: #4EAEFF;
    height: 60px;
    width: 80px;
    transform: rotate(-180deg);
    animation: transform 18s ease-in-out infinite both alternate, movement_two 12s ease-in-out infinite both;
    --left: 0.3;
    --top: 0.8;
}

.shape-blob.eleven {
    background: #0085FF;
    height: 100px;
    width: 80px;
    transform: rotate(-180deg);
    animation: transform 15s ease-in-out infinite both alternate, movement_two 10s ease-in-out infinite both;
    --left: 0.5;
    --top: 0.9;
}

.shape-blob.twelve {
    background: #0EAFFF;
    height: 150px;
    width: 150px;
    transform: rotate(-180deg);
    animation: transform 9s ease-in-out infinite both alternate, movement_two 15s ease-in-out infinite both;
    --left: 0.7;
    --top: 0.7;
}

.shape-blob.thirteen {
    background: #0085FF;
    height: 150px;
    width: 200px;
    transform: rotate(-180deg);
    animation: transform 8s ease-in-out infinite both alternate, movement_two 20s ease-in-out infinite both;
    --left: 0.9;
    --top: 0.5;
}

.shape-blob.fourteen {
    background: #4EAEFF;
    height: 60px;
    width: 80px;
    transform: rotate(-180deg);
    animation: transform 18s ease-in-out infinite both alternate, movement_two 12s ease-in-out infinite both;
    --left: 0.4;
    --top: 0.3;
}

.shape-blob.fifteen {
    background: #0EAFFF;
    height: 100px;
    width: 80px;
    transform: rotate(-180deg);
    animation: transform 15s ease-in-out infinite both alternate, movement_two 10s ease-in-out infinite both;
    --left: 0.6;
    --top: 0.1;
}

@keyframes transform
{
    0%,
    100% { border-radius: 33% 67% 70% 30% / 30% 40% 70% 70%; } 
    20% { border-radius: 37% 63% 51% 49% / 37% 35% 35% 63%; } 
    40% { border-radius: 36% 64% 64% 36% / 64% 48% 52% 26%; } 
    60% { border-radius: 37% 63% 51% 49% / 30% 30% 70% 73%; } 
    80% { border-radius: 40% 60% 42% 58% / 51% 51% 49% 59%; } 
}

@keyframes movement_one
{
    0%,
    100% { transform: none; }
    50% { transform: translate(50%, 20%) rotateY(10deg) scale(1); }
}

@keyframes movement_two
{
    0%,
    500% { transform: none; }
    50% { transform: translate(50%, 100%) rotate(-200deg) scale(1.3);}
}

.container-home {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-blob{
    margin: 0;
    padding: 0;
    min-height: 100vh;
	overflow: hidden;
	position: relative;
    display: flex;
    align-items: center;
    justify-content: center;  
}
